

<app-header (imageSourceForUI)="setImageSource($event)"></app-header>
<image-browser-unsplash *ngIf="imageSource == 'Unsplash'" (newImage)="main.modifyImage($event)" (zoomChange)="main.modifyZoom($event)" ></image-browser-unsplash>
<app-image-browser-artsy *ngIf="imageSource == 'Artsy'" (newImage)="main.modifyImage($event)" (zoomChange)="main.modifyZoom($event)" ></app-image-browser-artsy>

<app-core #main></app-core>
<div class="bottom-wrapper">
  <app-border-picker (frameInfo)="main.drawFrame($event)" (borderOn)="main.toggleFrame($event)"  ></app-border-picker>
  <app-image-upload (newBackground)="main.modifyBackGround($event)"></app-image-upload>
 

</div>
