.coveredImage{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  z-index: 1;
  position: absolute;
}

canvas{
/* border: 1px solid green; */
position: relative;
z-index: 20;

width: auto;
height: 100%;

}

.container-mid{
  display: block;
  line-height: 0;

  width: 640px; 
  margin: 0 auto; 
  background: none; 
  position:relative; 
  box-shadow: 0 5px 50px #333;
  align-items: center;
    /* height: auto;  */
/* 
    overflow: hidden; */
}

.center-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-mid img{
  display: block;
  width: 100%;
/* object-fit: contain;  */
}

.container-mid canvas{}

