.coveredImage{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  z-index: 1;
  position: absolute;
}

canvas{
border: 1px solid green;
position: relative;
z-index: 20;

}

.container-mid{
  display:inline-block;
   width: 640px; 
    margin: 0 auto; 
    background: black; 
    position:relative; 
    box-shadow: 0 5px 50px #333;
    align-items: center;
    height: 400px; 

    overflow: hidden;
}

.center-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-mid img{
/*   height: 100%;
  width: 100%;  */
/*   object-fit: contain; */
}