.wrapper-imagebrowser{
  max-width: 700px;
  height: 130px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  align-items: top;
  align-content: center;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;  
}

.container-imagebrowser{
  height: 85%;
  
}

.container-imagebrowser img{
  max-height: 90%;
  margin: 10px;
  opacity: 0.5;
  display: flex;
  align-items: center;
  align-content: center;


}

.wrapper-buttons{
  display: flex;
  align-items: center;
  justify-content: center;


}

button{

  margin: 2px;


min-width: 20px; 
line-height: 25px;
}  

button :disabled{
opacity: 20%;
  } 

.buttons .pager-buttons{
  margin: 5px;
}

.pager-buttons{

display: flex;
}

.browser-header{
 display: flex;
 justify-content: space-between;
max-width: 700px;
margin-right: auto;
margin-left: auto;
margin-top: 15px;
}

.searchbar{
  display: flex;
  align-content: flex-start;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  max-height: 25px;

}

.zoomButtons{
  display: flex;
  align-content: flex-end;
  align-items: center;
}

.searchInput{
  max-width: 50px;
}


.highlight{
  opacity: 1 !important;
  border: 2px solid black;
 }


 mat-form-field{
   max-width: 80px;
   margin-left: 5px
 }

 #zoombuttonplus #zoombuttonminus{
   width: 10px;
 }

 .max-height{
   height: 100%;
 }