<div class="browser-header">
  <div class="searchbar">

      <input class="searchInput" type="text" placeholder="search" [(ngModel)]="searchString">
      <button class="searchbutton" type="button" mat-raised-button (click)="update_UNSPLASHGallery()">Search
      </button>

    <div class="pager-buttons" >
        <button type="button" [disabled]="pageNum === 1" (click)="previousPage()"> Previous
      </button>
        <button type="button" (click)="nextPage()"> Next
        </button>
    </div>
  </div>

  <div class="buttons zoomButtons">

    <button type="button" mat-raised-button (click)="decreaseZoom($event)">-
    </button>

      <button type="button" mat-raised-button (click)="increaseZoom($event)"> +
    </button>

  </div>
</div>


<div class="wrapper-imagebrowser">

    <div *ngFor="let image of this.imageList?.results; let i = index; " class="container-imagebrowser" (click)="changeImage($event); highlightImage(i)">
      <img src="{{image.urls.small}}" alt="" [ngClass]="{'highlight': selectedIndex === i}" >
    </div>

</div>





