<div class="browser-header">
    <div class="searchbar">

        <mat-form-field appearance="standard">
          <mat-label>Search</mat-label>
          <input matInput placeholder="abstract" [(ngModel)]="Unsplash.searchString" (keyup.enter)="update_UNSPLASHGallery()" >
  
        </mat-form-field>

        <button mat-raised-button color="primary" class="searchbutton" type="button" mat-raised-button (click)="update_UNSPLASHGallery()">Search
        </button>



      <div class="pager-buttons" >
        <button mat-raised-button color="$mat-black"  [disabled]="Unsplash.pageNum === 1" (click)="previousPage()"> Prev
        </button>
        <button mat-raised-button color="$mat-black" (click)="nextPage()"> Next
          </button>
      </div>
    </div>


    <div class="buttons zoomButtons">

      <button mat-raised-button color="primary" id ="zoombuttonplus" (click)="decreaseZoom($event)">-
      </button>
      <button mat-raised-button color="primary" id ="zoombuttonminus" (click)="increaseZoom($event)"> +
      </button>

    </div>
</div>

<div class="wrapper-imagebrowser">

  <div *ngFor="let image of Unsplash.imageList?.results; let i = index; " class="container-imagebrowser" (click)="changeImage($event); highlightImage(i)">
    <img src="{{image.urls.small}}" alt="" [ngClass]="{'highlight': selectedIndex === i}" >
  </div>

</div>




