<div class="browser-header">
  <input type="text" placeholder="search" [(ngModel)]="searchString">
  <button class="searchbutton" type="button" mat-raised-button (click)="updateGallery()">Search
  </button>

  <div class="pager-buttons" >
    <button type="button" (click)="previousPage()"> Previous Page
  </button>
    <button type="button" (click)="nextPage()"> Next Page
    </button>
  </div>


  <div class="buttons">
    <button type="button" mat-raised-button (click)="increaseZoom($event)"> +
  </button>
    <button type="button" mat-raised-button (click)="decreaseZoom($event)">-
    </button>
  </div>
</div>


  <div class="wrapper-imagebrowser">

      <div *ngFor="let image of this.imageList?.results" class="container-imagebrowser" (click)="changeImage($event)">
        <img src="{{image.urls.small}}" alt="">
      </div>
  
  </div>





